body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: beige;
    height: 100vh;
    width: 100%;
    position:absolute;
    background-size: 100%;
}
.site{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    p{
        font-size: 11px;
    }
    h1{
        font-size: 24px;
    }
}
.Image{
    background-image: url('../images/image-product-desktop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 400px;
}
.site-info{
    width: 250px;
    height: 400px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (max-width:500px) {
    .site{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
    .Image{
        background-image: url('../images/image-product-mobile.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        height: 180px;
    }
    .site-info{
        height: 300px;
        padding: 10px;
        background-color: whitesmoke;

    }
}